.App {
  text-align: center;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, auto auto auto auto auto auto);
  gap: 20px;
  background-color: #f1f1d5;
}

.App-footer {
  background-color: #778997;
  font-size: calc(2px + 2vmin);
  color: white;
  grid-column: 1 / 7;
  /* grid-row-start: 6; */
  position: fixed;
  bottom: 0;
  width: 100%
}

.App-header {
  background-color: #778997;
  min-height: auto;
  grid-column: 1 / 7;;
  font-size: calc(10px + 2vmin);
  color: white;
}

.user-new {
  margin: 2px;
  background-color: #c4d297a7;
  grid-column: 2 / 4;
  grid-row: 3 / 5;
  border-radius: 18px;
}

.user-return {
  margin: 2px;
  background-color: #e1c68fcf;
  grid-column: 4 / 6;;
  grid-row: 3 / 5;
  border-radius: 18px;
}

.user-kitchen {
  margin: 2px;
  background-color: #90caf0cf;
  grid-column: 2 / 6;;
  grid-row: 5 / 7;
  border-radius: 18px;
}