.App {
  text-align: center;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(4, auto auto auto auto);
  gap: 25px;
  background-color: #cedbe1;
  position: relative;
  min-height: 100vh;
  align-content: space-evenly;
  background-image: url("../public/brooke-lark-08bOYnH_r_E-unsplash.jpg");
  background-size: 100vw;
  background-repeat: no-repeat;
}

.App-footer {
  /* background-color: #92aabb; */
  font-size: calc(2px + 2vmin);
  font-weight: bold;
  color: #95b6ad;
  grid-column: 1 / 7;
  position: absolute;
  bottom: 0;
  width: 100%
}

.App-header {
  background-color: #95b6ad;
  min-height: auto;
  grid-column: 1 / 7;
  /* font-size: calc(10px + 2vmin); */
  color: white;
}

.App-title {
  /* font-size: calc(10px + 2vmin); */
  font-size: xx-large;
}

.kitchen-form {
  margin: 2px;
  background-color: #fbdfa8c0;
  grid-column: 2 / 6;
  grid-row: 7 / 9;
  border-radius: 18px;
  padding: 8%;
}

.recipe-list {
  margin: 2px;
  background-color: #95b6adeb;
  grid-column: 2 / 6;;
  grid-row: 9 / 11;
  border-radius: 18px;
  list-style: none;
  padding: 8%;
}

.recipe-card {
  border-style: dashed;
  border-color: #c9d0e8db;
  border-radius: 18px;
  background-color: #f1f1d5ee;
  margin: 12px;
  padding: 2%;
}

.user-new {
  margin: 2px;
  background-color: #c9d0e8db;
  border-radius: 18px;
  padding: 8%;
}

.user-choice {
  grid-column: 2 / 6;
  grid-row-start: auto;
}

.user-return {
  margin: 2px;
  background-color: #fbbac3e2;
  border-radius: 18px;
  list-style: none;
  padding: 8%;
}

.user-kitchen-page {
  grid-column: 2 / 6;
  grid-row-start: auto;
    padding: 8%;
}

.user-kitchen {
  margin: 2px;
  background-color: #cdcdcfe3;
  grid-column: 2 / 6;
  grid-row: 5 / 7;
  border-radius: 18px;
  list-style: none;
  padding: 8%;
}

.edamam-badge {
  width: 25%;
  align-self: flex-end;
}

.recipe-ingredients {
  list-style: none;
  padding: 8%;
}

main {
  background-color: #fbdfa8c0;
  border-radius: 18px;
  grid-column: 2 / 6;
  padding: 8%;
}

nav {
  align-items: center;
  grid-column: 1 / 7;
  font-size: medium;
  margin: 2%;
}

.checklist {
  list-style: none;
  /* text-align: left; */
  /* padding-left: 30%; */
}
